{% extends 'base.html' %}
{% block content %}

<!-- <h1>HAZ Raps</h1> -->
<div class="top_background">
</div>

<h1 id="platforms" class="selection_title">Listen Now</h1>
<div class="platform_container">
    <a href="https://open.spotify.com/artist/16XxnDrENfGXwSlTcKzouv?si=GzbapvvFQaSmfsTbnNZa0Q"><img class="platform_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Spotify_App_Logo.svg/2048px-Spotify_App_Logo.svg.png"></a>

    <a href="https://music.apple.com/us/artist/haz/1548211083"><img class="platform_logo" src="https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/5898ac007aa643296e8cd4a6b3c046f8~c5_720x720.jpeg?x-expires=1670101200&x-signature=D7y3BWlwUiv9AYSMdFDrSMgvAXw%3D"></a>

    <a href="https://music.amazon.com/artists/B00440F278/haz?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_VLVVZHD8ZSDXE5ghgEY7o5rFw"><img class="platform_logo" src="https://m.media-amazon.com/images/I/610LDzZhsUL.png"></a>

    <a href="https://music.youtube.com/channel/UChfMtd0sTkIV7OSZj-oOC0g"><img class="platform_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/YouTube_play_button_square_%282013-2017%29.svg/768px-YouTube_play_button_square_%282013-2017%29.svg.png"></a>

</div>

<h1 id="music" class="selection_title">Music</h1>
<div class="album_container">
    <img src="static\styles\bubbles.jpeg" class="album_art">
    <div>
        <p>Bubbles & Dandelions</p>
        <p>1. Marching Home</p>
    </div>
</div>

{% endblock %}